<h2>Pipes</h2>

<!-- Transform our data to JSON format -->
<!-- <p>{{ obj }}</p> -->
<!-- <p>{{ obj | json }}</p> -->

<!-- Transform our data to currency format -->
<!-- <p>{{ amount }}</p> -->
<!-- <p>{{ amount | currency }}</p> -->

<!-- Transform our data (number) to a percent -->
<!-- <p>{{ num }}</p> -->
<!-- <p>{{ num | percent }}</p> -->

<!-- Transform our data (string) to lowercase -->
<!-- <p>{{ whisper }}</p> -->
<!-- <p>{{ whisper | lowercase }}</p> -->

<!-- Transform our data (string) to uppercase -->
<!-- <p>{{ yell }}</p> -->
<!-- <p>{{ yell | uppercase }}</p>  -->

<!-- Custom Pipes -->
<!-- <p>{{ num }}</p> -->
<!-- <p>{{ num | power }}</p> -->
<!-- <p>{{ num | power : 8 }}</p> -->
